@import '../themes/base';

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

html,body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  overflow: hidden;
  user-select: none;
  background-color: var(--mdc-theme-background, #fff);
}

body {
  display: flex;
  flex-direction: column;
}

.copyright-container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin: 4px;
  bottom: 0;
  text-align: center;

  color: var(--mdc-theme-text-primary-on-background, #000) !important;
}

.mdc-top-app-bar__title {
  color: var(--mdc-theme-on-primary, #fff);
}

.mdc-drawer {
  background-color: var(--mdc-theme-elevation-1, #fff) !important;

  a {
    i, span {
      color: var(--mdc-theme-on-surface, #000) !important;
    }
  }
}

.mdc-drawer-app-content {
  flex: auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.main-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.app-bar {
  position: absolute;
}
