@import 'themes/base';
@import 'partials/base';
@import 'partials/spinner';

@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/list/mdc-list";
@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import "@material/snackbar/mdc-snackbar";

.game-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#content-area {
  height: 100%;
}

#games-lists {
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .games-listing {
    transition: top 300ms ease;
    position: relative;
    top: 0;

    &.hidden {
      display: none;
    }

    &.loading {
      top: 100vh;
    }
  }
}

.mdc-list-item__meta {
  white-space: nowrap;
}

.mdc-dialog__title {
  max-width: 50vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mdc-text-field {
  margin-top: 8px;
  width: 100%;
  background-color: var(--mdc-theme-elevation-1, initial) !important;

  i {
    color: var(--mdc-theme-text-secondary-on-background, rgba(255,255,255,0.54)) !important;
  }

  input {
    color: var(--mdc-theme-text-primary-on-background, rgba(255,255,255,0.87)) !important;
    caret-color: var(--mdc-theme-text-primary-on-background, rgba(255,255,255,0.87)) !important;
    text-decoration-color: var(--mdc-theme-text-primary-on-background, rgba(255,255,255,0.87)) !important;

    &::placeholder {
      color: var(--mdc-theme-text-secondary-on-background, rgba(255,255,255,0.54)) !important;
    }
  }

  label {
    color: var(--mdc-theme-text-secondary-on-background, rgba(255,255,255,0.54)) !important;
  }
}

.mdc-tab-bar {
  background-color: var(--mdc-theme-elevation-1, #fff) !important;
}

.mdc-tab__text-label {
  color: rgba(255,255,255,.6) !important;
}

.mdc-tab--active .mdc-tab__text-label {
  color: var(--mdc-theme-primary,#212121) !important;
}

.mdc-dialog__surface {
  background-color: var(--mdc-theme-elevation-24, #fff) !important;

  h2 {
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, .87)) !important;

    .mdc-typography--subtitle1 {
      color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54)) !important;
    }
  }
}

li.hidden {
  display: none;
}

#search-bar {
  margin: 0;
  width: 50%;
  min-width: 192px;
}
