@import 'partials/colors';
@import 'partials/base';
@import 'partials/spinner';

@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/list/mdc-list";
@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

.game-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#content-area {
  height: 100%;
}

#games-lists {
  height: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .games-listing {
    transition: top 300ms ease;
    position: relative;
    top: 0;

    &.hidden {
      display: none;
    }

    &.loading {
      top: 100vh;
    }
  }
}

.mdc-list-item__meta {
  white-space: nowrap;
}

.mdc-text-field {
  margin-top: 8px;
}
