@import 'partials/colors';
@import 'partials/base';

@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/list/mdc-list";

.game-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.games-listing {

  &.hidden {
    display: none;
  }
}
